<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEWS Classification ML & DL model</title>
</head>
<body>
    <h1> NEWS Classification ML & DL model</h1> 
    <form action="prediction" method="post">
        <label>INPUT TEXT =</label> <input type="text" name="news">
        <br>
        <input type="submit" value="PREDICT">
        <br><br>
        <h3>ML MODEL RESULT = {{ML_RESULT}}</h3>
        <h3>DL MODEL RESULT = {{DL_RESULT}}</h3>

    </form> 
</body>
</html>